<header class="site-header">
  <div class="header-content">
    <div class="header-left">
      <h1>{{ site.title | default: 'Thoth & Son' }}</h1>
      <nav>
        <a href="/index.html">Home</a>
        <a href="/posts">Posts</a>
        <a href="/status-page">Status Page</a>
        <a href="/saas/ghost-rizz">Ghost Rizz</a>
        <a href="/saas/wavetrack" target="_blank">Wavetrack</a>
        <a href="/saas/mentor-chip">Mentor Chip</a>
      </nav>
    </div>
    <div class="header-logo">
      <img src="/assets/logo-black-background.png" alt="Logo Thoth & Son" height="48" />
    </div>
  </div>
</header>
