<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">
  <link rel="stylesheet" href="/styles/main.css">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="/js/console-manager.js"></script>
  </body>
</html>
